<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CRM Nominal</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Registro de Nomina
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/addNomina" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Registro de Empleado
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/addOtros" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Registro Departamentales
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/marketing" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Marketing
            </NavLink>
        </div>
                <div class="nav-item px-3">
            <NavLink class="nav-link" href="/evaluacion" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Evaluación de personal
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
