@page "/addOtros"

@using NominaCheck.Data.Services
@using NominaCheck.Pages.Components

@inject TiposEmpleadoServices TipoDepartamentoServices
@inject DepartamentoServices DepartamentoServices
@inject CargosServices CargosServices

<!-- Tipos empleado -->
<div class="component-box">
    <CascadingValue Value="@TipoDepartamentoServices">
        <AddTiposEmpleado />
    </CascadingValue>
</div>

<!-- Departamento -->
<div class="component-box">
    <CascadingValue Value="@DepartamentoServices">
        <AddDepartamento />
    </CascadingValue>
</div>

<!-- Cargos -->
<div class="component-box">
    <CascadingValue Value="@CargosServices">
        <AddCargos />
    </CascadingValue>
</div>